<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1>Users</h1>
<h2>View users</h2>

<table>
    <tr>
        <th>USER NAME</th>
        <th>USER EMAIL</th>
        <th>USER PASSWORD</th>
    </tr>
    <tr th:each="user: ${users}" >
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.password}"></td>
    </tr>
</table>

<h2>Add user</h2>
<form action="/task3" method="post">
    Name: <input type="text" name="name"><br />
    Email: <input type="text" name="email"><br />
    Password: <input type="text" name="password"><br />
    <button type="submit">Add user</button>
</form>
</body>
</html>